body {
  font-family: 'PT Sans', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.form-control {
  border-radius: 0;
  outline: none;
  height: 40px;
}
.btn-primary {
  background: #ee4b4e;
  border: none;
  text-transform: uppercase;
  color: #FFF;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.btn-primary:hover {
  background: #cd4447;
}
.btn-success {
  background: #04d3b1;
  border: none;
  text-transform: uppercase;
  color: #FFF;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.btn-success:hover {
  background: #04a988;
}
.btn-info {
  background: #303440;
  border: none;
  text-transform: uppercase;
  color: #FFF;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.btn-info:hover {
  background: #1D2027;
}
.btn-default {
  background: #FFF;
  border-color: #CCC;
  text-transform: uppercase;
  color: #333;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.btn-default:hover {
  background: #f7f7f7;
}
.modal-content {
  border-radius: 0;
}
.modal-content .modal-header {
  background: #303440;
  padding-left: 30px;
  padding-right: 30px;
}
.modal-content .modal-header h2 {
  font-size: 24px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.modal-content .modal-header .close {
  color: #FFF;
  opacity: 1;
  font-size: 40px;
}
.modal-content .modal-body {
  background: #F2F2F2;
  padding-left: 30px;
  padding-right: 30px;
}
.modal-content .modal-body .form-control {
  border: none;
}
.modal-content .modal-footer {
  background: #F2F2F2;
  padding-left: 30px;
  padding-right: 30px;
}
header {
  background: #04d3b1;
}
header .logo-holder {
  background: #15b299 url('../img/logo-strip.png') top no-repeat;
  padding: 30px 20px;
}
header .username-display {
  margin-left: 20px;
}
header .username-display h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bolder;
  margin: 45px 0 0;
  line-height: 1em;
}
header .username-display h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  color: #303440;
  font-weight: 500;
  margin: 0;
}
header .login-status {
  margin-top: 30px;
}
header .login-status .btn {
  background: #303440;
  border-radius: 20px;
  color: #FFF;
  text-transform: uppercase;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-family: 'PT Sans', sans-serif;
}
header .login-status .btn:hover,
header .login-status .btn:active,
header .login-status .btn:visited,
header .login-status .btn:focus {
  background: #262934;
  color: #FFF;
}
header .login-status .login-form {
  width: 240px;
  padding: 20px 20px 0;
}
header .logged-in-user {
  margin-top: 40px;
  font-size: 15px;
}
.order-section {
  padding: 20px 30px;
}
.order-section h1 {
  font-size: 24px;
  text-transform: capitalize;
  color: #303440;
  font-weight: bolder;
  margin: 10px 0 20px;
  line-height: 1em;
}
.order-section h1 .title-sub {
  color: #04d3b1;
  margin-left: 20px;
  display: inline-block;
}
.order-section h1 .title-sub:first-child {
  margin-left: 0;
}
.order-section h2 {
  font-size: 22px;
  text-transform: capitalize;
  color: #303440;
  font-weight: bold;
  margin: 10px 0 20px;
  letter-spacing: -1px;
  line-height: 1em;
}
.order-section .product-detail {
  display: none;
  background: none;
}
.order-section .product-detail .panel .panel-body {
  background: none;
  padding: 20px;
}
.order-section .product-detail .panel .panel-body .tab-content {
  padding: 20px 10px;
}
.order-section .product-detail .panel .panel-body .nav-tabs li a {
  color: #303440;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.order-section .nav-pills {
  margin: 20px 0 30px;
}
.order-section .nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 12px solid #fff;
  border-left: 12px solid #fff;
  min-width: 33%;
}
.order-section .nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}
.order-section .nav-pills.nav-wizard > li:first-child a {
  border-radius: 0;
}
.order-section .nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}
.order-section .nav-pills.nav-wizard > li:last-child a {
  border-radius: 0;
}
.order-section .nav-pills.nav-wizard > li a {
  border-radius: 0;
  background-color: #1E202C;
  padding: 15px;
  color: #f7f7f7;
}
.order-section .nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 0 25px 20px;
  border-color: transparent transparent transparent #1E202C;
  z-index: 150;
}
.order-section .nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 0 25px 20px;
  border-color: #1E202C #1E202C #1E202C transparent;
  z-index: 150;
}
.order-section .nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #3C415A;
}
.order-section .nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #3C415A #3C415A #3C415A transparent;
}
.order-section .nav-pills.nav-wizard > li:hover a {
  background-color: #3C415A;
  color: #fff;
}
.order-section .nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #04D3B1;
}
.order-section .nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #04D3B1 #04D3B1 #04D3B1 transparent;
}
.order-section .nav-pills.nav-wizard > li.active a {
  background-color: #04D3B1;
}
.order-section .nav-pills > li + li {
  margin-left: 4px;
}
.order-section .panel .panel-body {
  background: #f7f7f7;
  padding: 0 0 0 20px;
}
.order-section .panel .panel-body span {
  vertical-align: middle;
  font-weight: bold;
  font-size: 25px;
  color: #04D3B1;
}
.order-section .panel .panel-body h3 {
  display: inline-block;
  margin: 28px 20px;
  padding: 0px;
  vertical-align: middle;
  line-height: 1em;
  font-size: 20px;
}
.order-section .panel .panel-body .btn {
  padding: 30px 20px;
  border-radius: 0px;
  text-align: right;
}
.order-section .products-section .panel {
  padding: 0px;
}
.order-section .products-section .panel .panel-heading {
  background: none;
  padding: 0;
}
.order-section .products-section .panel .panel-body {
  background: #FFF;
  padding: 0 0 10px;
}
.order-section .products-section .panel .panel-body span {
  vertical-align: middle;
  font-weight: bold;
  font-size: 25px;
  color: #04D3B1;
}
.order-section .products-section .panel .panel-body h3 {
  display: inline-block;
  margin: 28px 20px;
  padding: 0px;
  vertical-align: middle;
  line-height: 1em;
  font-size: 18px;
}
.order-section .products-section .panel .panel-body .btn {
  padding: 30px 20px;
  border-radius: 0px;
  text-align: right;
}
.sitemap-section h1 {
  color: #1e202c;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.sitemap-section h2 {
  color: #333;
  font-family: 'PT Sans', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #04D3B1;
}
.sitemap-section .finalise-btn {
  padding: 30px 30px;
  background: #04D3B1;
  color: #FFF;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 0px;
  display: inline-block;
}
.sitemap-section .finalise-btn:hover {
  text-decoration: none;
}
.sitemap-section .total-pages {
  padding: 30px 30px;
  background: #FFF;
  color: #1D2027;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin: 0px;
  display: inline-block;
}
.sitemap-section .newPageButton {
  margin-top: -70px;
}
.sitemap-section #sitemapHolder a {
  color: #FFF;
  text-decoration: none;
}
.sitemap-section #sitemapHolder a:hover {
  color: #FFF;
  text-decoration: none;
}
.sitemap-section #sitemapHolder a .map-item-remove {
  margin-left: 20px;
  display: inline-block;
}
.sitemap-section #sitemapHolder ul {
  margin: 0;
  padding: 0;
}
.sitemap-section #sitemapHolder ul li {
  width: 100%;
  display: block;
  list-style: none;
}
.sitemap-section #sitemapHolder ul li .primaryPage {
  background: #1e202c;
  padding: 15px 10px;
  margin-bottom: 5px;
  width: 100%;
  color: #FFF;
}
.sitemap-section #sitemapHolder ul li ul li {
  margin-left: 5%;
  margin-bottom: 5px;
}
.sitemap-section #sitemapHolder ul li ul li .subPage {
  background: #DEDEDE;
  padding: 15px 10px;
  border: 1px solid #ccc;
  width: 95%;
  margin-bottom: 5px;
  color: #333;
}
.sitemap-section #sitemapHolder ul li ul li .subPage a {
  color: #333;
}
.sitemap-section #sitemapHolder ul li ul li ul li {
  margin-left: 10%;
  margin-bottom: 5px;
}
.sitemap-section #sitemapHolder ul li ul li ul li .subPage {
  background: #DEDEDE;
  padding: 15px 10px;
  width: 85%;
  margin-bottom: 5px;
  color: #333;
}
.sitemap-section #sitemapHolder ul li ul li ul li .subPage a {
  color: #333;
}
.sitemap-section #propertyHolder a {
  color: #1D2027;
}
.sitemap-section #propertyHolder .attachments {
  font-size: 16px;
}
.sitemap-section #propertyHolder .attachments a {
  color: #1D2027;
}
.sitemap-section #propertyHolder .attachments span {
  display: inline-block;
}
.sitemap-section #propertyHolder .attachments .file-type {
  margin-right: 20px;
}
.checkout-section table tr th {
  padding: 10px;
  background: #1E202C;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.checkout-section table tr td {
  padding: 10px;
  border-top: 1px solid #FFF;
  font-size: 16px;
}
.checkout-section table tfoot tr td {
  text-align: left;
  padding: 5px 10px;
}
.checkout-section table tfoot tr td:first-child {
  text-align: right;
}
.checkout-section .panel {
  background: #1E202C;
  padding: 20px;
}
.checkout-section .panel .panel-body {
  background: transparent;
  padding: 10px;
}
.dashboard-section h1 {
  font-size: 24px;
  text-transform: capitalize;
  color: #303440;
  font-weight: bolder;
  margin: 10px 0 0;
  line-height: 2em;
}
.dashboard-section hr {
  border: 1px dashed #999;
  opacity: 0.3;
  margin: 20px 0 30px;
  display: block;
  width: 100%;
}
.dashboard-section .activeProject {
  text-align: right;
  float: right;
  margin-top: 10px;
}
.dashboard-section .activeProject .activeProjectGreen {
  color: #04d3b1;
  font-weight: bold;
}
.dashboard-section .selectProject label {
  margin-right: 10px;
}
.dashboard-section table thead {
  background: #04d3b1;
  color: #FFF;
}
.dashboard-section table tbody a {
  color: #04d3b1;
}
.dashboard-section h2 {
  font-size: 18px;
  text-transform: capitalize;
  color: #04d3b1;
  font-weight: bolder;
  margin: 10px 0 20px;
  line-height: 1em;
}
.portal-section {
  padding: 20px 30px;
}
.portal-section h1 {
  font-size: 24px;
  text-transform: capitalize;
  color: #303440;
  font-weight: bolder;
  margin: 10px 0 20px;
  line-height: 1em;
}
.portal-section .panel-group .panel .panel-heading {
  padding: 20px 20px;
  background: #303440;
  border-radius: 0;
}
.portal-section .panel-group .panel .panel-heading h4.panel-title {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.portal-section .panel-group .panel .panel-heading h4.panel-title a {
  text-decoration: none;
}
.portal-section .panel-group .panel .panel-heading h4.panel-title a .dateOfTask {
  display: inline-block;
  color: #04d3b1;
  margin-right: 20px;
  text-transform: none;
  font-weight: 400;
}
.portal-section .panel-group .panel .panel-heading h4.panel-title a .taskStatus {
  margin-right: -50px;
  text-transform: capitalize;
}
.portal-section .panel-group .panel .panel-heading h4.panel-title a .taskStatus span {
  color: #04d3b1;
}
.portal-section .panel-group .panel .panel-heading h4.panel-title .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e113";
  /* adjust as needed, taken from bootstrap.css */
  float: right;
  /* adjust as needed */
  color: #FFF;
  /* adjust as needed */
}
.portal-section .panel-group .panel .panel-heading h4.panel-title .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
}
.portal-section .panel-group .panel .panel-body h2 {
  font-weight: bold;
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
  color: #1e202c;
  letter-spacing: -1px;
}
.portal-section .panel-group .panel .panel-body .author {
  color: #04d3b1;
  font-size: 17px;
}
.portal-section .panel-group .panel .panel-body .chat-cell-right {
  background: #f7f7f7;
}
.portal-section .panel-group .panel .panel-body small {
  color: #1e202c;
  font-size: 15px;
}
.portal-section .panel-group .panel .panel-body .commentReply {
  margin-top: 30px;
  display: block;
  text-align: right;
}
.portal-section .panel-group .panel .panel-body p {
  margin-top: 15px;
}
.portal-section .panel-group .panel .panel-body ul.files-task {
  margin: 0;
  padding: 0px;
}
.portal-section .panel-group .panel .panel-body ul.files-task li {
  list-style: none;
  margin: 0;
  line-height: 2em;
}
.portal-section .panel-group .panel .panel-body ul.files-task li a {
  color: #333;
}
.portal-section ul.project-status {
  margin: 0;
  padding: 0;
}
.portal-section ul.project-status li {
  list-style: none;
  font-size: 33px;
  font-weight: bolder;
  color: #1e202c;
  letter-spacing: -4px;
  display: inline-block;
  margin-right: 35px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #DEDEDE;
}
.portal-section ul.project-status li span {
  color: #04d3b1;
  font-size: 15px;
  letter-spacing: 0;
  display: block;
}
.portal-section .add-task-btn {
  top: -300px;
  position: relative;
  outline: none;
}
.portal-section .btn-primary {
  background: #ee4b4e;
  border: none;
  text-transform: uppercase;
  color: #FFF;
  padding: 15px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.portal-section .btn-primary:hover {
  background: #cd4447;
}
.sidebar-section {
  background: #1e202c;
  color: #FFF;
  padding: 0;
  height: 100vh;
}
.sidebar-section ul {
  padding: 0;
  margin: 0;
}
.sidebar-section ul a {
  text-decoration: none;
}
.sidebar-section ul a li {
  list-style: none;
  display: block;
  width: 100%;
  padding: 40px 15px;
  background: #303440;
  border-bottom: 1px solid #1e202c;
}
.sidebar-section ul a li h1 {
  font-size: 18px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bolder;
  margin: 0;
  line-height: 1em;
}
.sidebar-section ul a li h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: #04d3b1;
  font-weight: 500;
  margin: 0;
}
.sidebar-section ul a:hover,
.sidebar-section ul a:focus {
  text-transform: none;
}
.sidebar-section ul a:hover li,
.sidebar-section ul a:focus li {
  background: #1e202c;
}
.sidebar-section ul a:active li {
  background: #FFF;
}
.sidebar-section ul a:active li h1 {
  color: #1e202c;
}
.sidebar-section ul .active li {
  background: #FFF;
}
.sidebar-section ul .active li h1 {
  color: #1e202c;
}
.sidebar-section ul .active:hover li {
  background: #FFF;
}
.sidebar-section ul .active:hover li h1 {
  color: #1e202c;
}
