body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, {
  font-family: 'Roboto', sans-serif;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}

.form-control {
  border-radius: 0;
  outline: none;
  height: 40px;
}

.btn-primary {
  background: #ee4b4e;
  border: none;
  text-transform: uppercase;
  color: #FFF;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  &:hover {
    background: #cd4447;

  }
}

.btn-success {
  background: #04d3b1;
  border: none;
  text-transform: uppercase;
  color: #FFF;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  &:hover {
    background: #04a988;
  }
}

.btn-info {
  background: #303440;
  border: none;
  text-transform: uppercase;
  color: #FFF;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  &:hover {
    background: #1D2027;
  }
}

.btn-default {
  background: #FFF;
  border-color: #CCC;
  text-transform: uppercase;
  color: #333;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  &:hover {
    background: #f7f7f7;
  }
}

.modal-content {
  border-radius: 0;
  .modal-header {
    background: #303440;
    padding-left: 30px;
    padding-right: 30px;
    h2 {
      font-size: 24px;
      color: #FFF;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: -1px;
    }
    .close {
      color: #FFF;
      opacity: 1;
      font-size: 40px;
    }

  }
  .modal-body {
    background: #F2F2F2;
    padding-left: 30px;
    padding-right: 30px;
    .form-control {
      border: none;
    }
  }
  .modal-footer {
    background: #F2F2F2;
    padding-left: 30px;
    padding-right: 30px;
    .btn {

    }
  }

}

header {
  background: #04d3b1;
  .logo-holder {
    background: #15b299 url('../img/logo-strip.png') top no-repeat;
    padding: 30px 20px;
  }
  .username-display {
    margin-left: 20px;
    h1 {
      font-size: 24px;
      text-transform: uppercase;
      color: #FFF;
      font-weight: bolder;
      margin: 45px 0 0;
      line-height: 1em;
    }
    h3 {
      font-family: 'PT Sans', sans-serif;
      font-size: 17px;
      color: #303440;
      font-weight: 500;
      margin: 0;
    }
  }

  .login-status {
    margin-top: 30px;
    .btn {
      background: #303440;
      border-radius: 20px;
      color: #FFF;
      text-transform: uppercase;
      padding: 15px 20px;
      border: none;
      outline: none;
      font-family: 'PT Sans', sans-serif;
      &:hover, &:active, &:visited, &:focus {
        background: #262934;
        color: #FFF;
      }
    }
    .login-form {
      width: 240px;
      padding: 20px 20px 0;
    }
  }
  .logged-in-user {
    margin-top: 40px;
    font-size: 15px;
  }

}

.order-section {
  padding: 20px 30px;
  h1 {
    font-size: 24px;
    text-transform: capitalize;
    color: #303440;
    font-weight: bolder;
    margin: 10px 0 20px;
    line-height: 1em;
    .title-sub {
      color: #04d3b1;
      margin-left: 20px;
      display: inline-block;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  h2 {
    font-size: 22px;
    text-transform: capitalize;
    color: #303440;
    font-weight: bold;
    margin: 10px 0 20px;
    letter-spacing: -1px;
    line-height: 1em;
  }

  .product-detail {
    display: none;
    background: none;
    .panel {
      .panel-body {
        background: none;
        padding: 20px;
        .tab-content {
          padding: 20px 10px;
        }
        .nav-tabs {
          li {
            a {
              color: #303440;
              font-size: 15px;
              font-family: 'Roboto', sans-serif;
            }
          }
        }
      }
    }
  }

  .nav-pills {
    margin: 20px 0 30px;
    &.nav-wizard {
      > li {
        position: relative;
        overflow: visible;
        border-right: 12px solid #fff;
        border-left: 12px solid #fff;
        min-width: 33%;

        &:first-child {
          border-left: 0;

          a {
            border-radius: 0;
          }
        }

        &:last-child {
          border-right: 0;

          a {
            border-radius: 0;
          }
        }

        a {
          border-radius: 0;
          background-color: #1E202C;
          padding: 15px;
          color: #f7f7f7;
        }

        .nav-arrow {
          position: absolute;
          top: 0px;
          right: -20px;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 25px 0 25px 20px;
          border-color: transparent transparent transparent #1E202C;
          z-index: 150;
        }

        .nav-wedge {
          position: absolute;
          top: 0px;
          left: -20px;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 25px 0 25px 20px;
          border-color: #1E202C #1E202C #1E202C transparent;
          z-index: 150;
        }

        &:hover {
          .nav-arrow {
            border-color: transparent transparent transparent #3C415A;
          }

          .nav-wedge {
            border-color: #3C415A #3C415A #3C415A transparent;
          }

          a {
            background-color: #3C415A;
            color: #fff;
          }
        }

        &.active {
          .nav-arrow {
            border-color: transparent transparent transparent #04D3B1;
          }

          .nav-wedge {
            border-color: #04D3B1 #04D3B1 #04D3B1 transparent;
          }

          a {
            background-color: #04D3B1;
          }
        }
      }
    }

  }
  .nav-pills > li + li {
    margin-left: 4px;
  }

  .panel {
    .panel-body {
      background: #f7f7f7;
      span {
        vertical-align: middle;
        font-weight: bold;
        font-size: 25px;
        color: #04D3B1;
      }
      padding: 0 0 0 20px;
      h3 {
        display: inline-block;
        margin: 28px 20px;
        padding: 0px;
        vertical-align: middle;
        line-height: 1em;
        font-size: 20px;
      }
      .btn {
        padding: 30px 20px;
        border-radius: 0px;
        text-align: right;
      }
    }
  }

  .products-section {

    .panel {
      padding: 0px;
      .panel-heading {
        background: none;
        padding: 0;

      }
      .panel-body {
        background: #FFF;
        padding: 0 0 10px;
        span {
          vertical-align: middle;
          font-weight: bold;
          font-size: 25px;
          color: #04D3B1;
        }
        h3 {
          display: inline-block;
          margin: 28px 20px;
          padding: 0px;
          vertical-align: middle;
          line-height: 1em;
          font-size: 18px;
        }
        .btn {
          padding: 30px 20px;
          border-radius: 0px;
          text-align: right;
        }
      }
    }
  }

}

.sitemap-section {
  h1 {
    color: #1e202c;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }
  h2 {
    color: #333;
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #04D3B1;
  }

  .finalise-btn {
    padding: 30px 30px;
    background: #04D3B1;
    color: #FFF;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 0px;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
  .total-pages {
    padding: 30px 30px;
    background: #FFF;
    color: #1D2027;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0px;
    display: inline-block;
  }
  .newPageButton {
    margin-top: -70px;
  }
  #sitemapHolder {
    a {
      color: #FFF;
      text-decoration: none;
      &:hover {
        color: #FFF;
        text-decoration: none;
      }
      .map-item-remove {
        margin-left: 20px;
        display: inline-block;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        width: 100%;
        display: block;
        list-style: none;

        .primaryPage {
          background: #1e202c;
          padding: 15px 10px;
          margin-bottom: 5px;
          width: 100%;
          color: #FFF;
        }
        ul {
          li {
            margin-left: 5%;
            margin-bottom: 5px;
            .subPage {
              background: #DEDEDE;
              padding: 15px 10px;
              border: 1px solid #ccc;
              width: 95%;
              margin-bottom: 5px;
              color: #333;
              a {
                color: #333;
              }
            }
            ul {
              li {
                margin-left: 10%;
                margin-bottom: 5px;
                .subPage {
                  background: #DEDEDE;
                  padding: 15px 10px;
                  width: 85%;
                  margin-bottom: 5px;
                  color: #333;
                  a {
                    color: #333;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #propertyHolder {
    a {
      color: #1D2027;
    }
    .attachments {
      font-size: 16px;
      a {
        color: #1D2027;
      }
      span {
        display: inline-block;

      }
      .file-type {
        margin-right: 20px;
      }
    }
  }
}

.checkout-section {
  table {
    tr {
      th {
        padding: 10px;
        background: #1E202C;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
      }
      td {
        padding: 10px;
        border-top: 1px solid #FFF;
        font-size: 16px;
      }
    }
    tfoot {
      tr {

        td {
          text-align: left;
          padding: 5px 10px;
          &:first-child {
            text-align: right;
          }
        }
      }

    }
  }
  .panel {
    background: #1E202C;
    padding: 20px;
    .panel-body {
      background: transparent;
      padding: 10px;
    }
  }
}

.dashboard-section {
  h1 {
    font-size: 24px;
    text-transform: capitalize;
    color: #303440;
    font-weight: bolder;
    margin: 10px 0 0;
    line-height: 2em;
  }
  hr {
    border: 1px dashed #999;
    opacity: 0.3;
    margin: 20px 0 30px;
    display: block;
    width: 100%;
  }
  .activeProject {
    text-align: right;
    float: right;
    margin-top: 10px;
    .activeProjectGreen {
      color: #04d3b1;
      font-weight: bold;
    }
  }
  .selectProject {
    label {
      margin-right: 10px;
    }
  }

  table {
    thead {
      background: #04d3b1;
      color: #FFF;
    }
    tbody {
      a {
        color: #04d3b1;
      }
    }
  }

  h2 {
    font-size: 18px;
    text-transform: capitalize;
    color: #04d3b1;
    font-weight: bolder;
    margin: 10px 0 20px;
    line-height: 1em;
  }

}

.portal-section {
  padding: 20px 30px;
  h1 {
    font-size: 24px;
    text-transform: capitalize;
    color: #303440;
    font-weight: bolder;
    margin: 10px 0 20px;
    line-height: 1em;
  }

  .panel-group {
    .panel {
      .panel-heading {
        padding: 20px 20px;
        background: #303440;
        border-radius: 0;
        h4.panel-title {
          color: #FFF;
          font-family: 'Roboto', sans-serif;
          text-transform: uppercase;
          a {
            text-decoration: none;
            .dateOfTask {
              display: inline-block;
              color: #04d3b1;
              margin-right: 20px;
              text-transform: none;
              font-weight: 400;
            }
            .taskStatus {
              margin-right: -50px;
              text-transform: capitalize;
              span {
                color: #04d3b1;
              }
            }
          }
          .accordion-toggle:after {
            /* symbol for "opening" panels */
            font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
            content: "\e113"; /* adjust as needed, taken from bootstrap.css */
            float: right; /* adjust as needed */
            color: #FFF; /* adjust as needed */
          }
          .accordion-toggle.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e114"; /* adjust as needed, taken from bootstrap.css */
          }
        }

      }
      .panel-body {
        h2 {
          font-weight: bold;
          font-size: 24px;
          font-family: 'PT Sans', sans-serif;
          color: #1e202c;
          letter-spacing: -1px;
        }

        .author {
          color: #04d3b1;
          font-size: 17px;
        }
        .chat-cell-right {
          background: #f7f7f7;
        }
        small {
          color: #1e202c;
          font-size: 15px;
        }
        .commentReply {
          margin-top: 30px;
          display: block;
          text-align: right;
        }
        p {
          margin-top: 15px;
        }
        ul.files-task {
          margin: 0;
          padding: 0px;
          li {
            list-style: none;
            margin: 0;
            line-height: 2em;
            a {
              color: #333;
            }
          }
        }
      }
    }
  }
  ul.project-status {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      font-size: 33px;
      font-weight: bolder;
      color: #1e202c;
      letter-spacing: -4px;
      display: inline-block;
      margin-right: 35px;
      text-align: center;
      padding-bottom: 20px;
      border-bottom: 1px solid #DEDEDE;
      span {
        color: #04d3b1;
        font-size: 15px;
        letter-spacing: 0;
        display: block;
      }
    }
  }

  .add-task-btn {
    top: -300px;
    position: relative;
    outline: none;
  }

  .btn-primary {
    background: #ee4b4e;
    border: none;
    text-transform: uppercase;
    color: #FFF;
    padding: 15px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    &:hover {
      background: #cd4447;
    }
  }
}

.sidebar-section {
  background: #1e202c;
  color: #FFF;
  padding: 0;
  height: 100vh;
  ul {
    padding: 0;
    margin: 0;
    a {
      text-decoration: none;
      li {
        list-style: none;
        display: block;
        width: 100%;
        padding: 40px 15px;
        background: #303440;
        border-bottom: 1px solid #1e202c;
        h1 {
          font-size: 18px;
          text-transform: uppercase;
          color: #FFF;
          font-weight: bolder;
          margin: 0;
          line-height: 1em;
        }
        h3 {
          font-family: 'PT Sans', sans-serif;
          font-size: 15px;
          color: #04d3b1;
          font-weight: 500;
          margin: 0;
        }
      }
      &:hover, &:focus {
        text-transform: none;
        li {
          background: #1e202c;
        }
      }
      &:active {
        li {
          background: #FFF;
          h1 {
            color: #1e202c;
          }
        }
      }

    }
    .active {
      li {
        background: #FFF;
        h1 {
          color: #1e202c;
        }
      }
      &:hover {
        li {
          background: #FFF;
          h1 {
            color: #1e202c;
          }
        }
      }
    }

  }
}

